// http://meyerweb.com/eric/tools/css/reset/
// v2.0 | 20110126
// License: none (public domain)

@mixin meyer-reset {
  html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
  }

  // HTML5 display-role reset for older browsers
  article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
  }
  body {
    line-height: 1;
  }
  ol, ul {
    list-style: none;
  }
  blockquote, q {
    quotes: none;
  }
  blockquote {
    &:before, &:after {
      content: "";
      content: none;
    }
  }
  q {
    &:before, &:after {
      content: "";
      content: none;
    }
  }
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }
}

@include meyer-reset;

// http://codepen.io/sawmac/pen/qGudy
// generic transform
@mixin transform($transforms) {
	   -moz-transform: $transforms;
	     -o-transform: $transforms;
	    -ms-transform: $transforms;
	-webkit-transform: $transforms;
          transform: $transforms;
}
// rotate
@mixin rotate ($deg) {
  @include transform(rotate(#{$deg}deg));
}
 
// scale
@mixin scale($scale) {
	 @include transform(scale($scale));
} 
// translate
@mixin translate ($x, $y) {
   @include transform(translate($x, $y));
}
// skew
@mixin skew ($x, $y) {
   @include transform(skew(#{$x}deg, #{$y}deg));
}
//transform origin
@mixin transform-origin ($origin) {
    moz-transform-origin: $origin;
	     -o-transform-origin: $origin;
	    -ms-transform-origin: $origin;
	-webkit-transform-origin: $origin;
          transform-origin: $origin;
}

// http://codepen.io/sawmac/pen/cayhK
@mixin transition($transition...) {
    -moz-transition:    $transition;
    -o-transition:      $transition;
    -webkit-transition: $transition;
    transition:         $transition;
}

// Button element reset
button {
    background: none;
    border: 0;
    color: inherit;
    /* cursor: default; */
    font: inherit;
    line-height: normal;
    overflow: visible;
    padding: 0;
    -webkit-appearance: button; /* for input */
    -webkit-user-select: none; /* for button */
       -moz-user-select: none;
        -ms-user-select: none;
}
button::-moz-focus-inner {
    border: 0;
    padding: 0;
}

// http://ashobiz.asia/metroking36/forms.html
// General styles

// Colors
$primary-color: #222F38;
$pager-background-color: #324A5A;
$button-background-color: #6B6B36;
$button-background-color-hover: #84844A;
$button-color: #E6E3E3;

html, body {
    width: 100%;
    height: 100%;
}

body {
    position: relative;
    font-family: "Open Sans", sans-serif !important; // bootstrap
    font-size: 14px;
}

body, button.app, input.app {
    line-height: initial !important; // bootstrap
}

ul.app {
    margin-bottom: 0px; // bootstrap
}

input {
    outline: none;
}

a {
    text-decoration: none !important; // bootstrap
    color: #F2F2F2;
    
    &:hover, &:visited{
        text-decoration: none !important; // bootstrap
    }
}

* {
    box-sizing: border-box;
}

button {
    cursor: pointer;
    outline: none;
}

.visible {
    display: block;
}

.hidden {
    display: none;
}

*[app-cloak] {
    display: none;
}

body > header {
    position: relative;
    background-color: $primary-color;
    height: 50px;
    width: 100%;
    
    .logo {
        float: left;
        padding: 15px 0px 0px 30px;
    }
    
    ul.profile-operations {
        list-style: none;
        float: right;
        height: 100%;
        line-height: 45px;
        font-size: 13px;
        
        li {
            display: inline-block;
            a {
                color: #F2F2F2;
                padding-right: 23px;
                position: relative;
                
                &:after {
                    content: '';
                    position: absolute;
                    width: 100%;
                    height: 1px;
                    bottom: 2px;
                    left: 0;
                    opacity: 0;
                    background-color: #F2F2F2;
                    transition: all 0.3s;
                }
                &:hover:after {
                    opacity: 1;
                    bottom: -2px;
                }
            }
            i.fa {
                padding-left: 4px;
            }
        }
    }
}

body > main {
    position: relative;
    overflow: auto;
    height: calc(100% - 50px);
    
    nav {
        height: 100%;
        position: fixed;
        float: left;
        background-color: $primary-color;
        width: 230px;
        
        @media only screen and (max-width: 1170px) {
            width: 50px;
            font-size: 1.4em;
        }
        
        ul {
            li {
                transition: all 0.2s;
                display: block;
                position: relative;
                height: 55px;
                width: 100%;
                color: white;
                background-color: $primary-color;
                margin-right: 45px;

                a.nav-create {
                    padding: 2px 6px;
                    margin-left: 9px;
                    @media only screen and (max-width: 1170px) {
                        display: none; 
                    }
                }
                a.nav-create:hover .fa {
                    color: white;
                }
                a.nav-list {
                    position: relative;
                    width: 80%;
                    display: inline-block;
                    padding-left: 12px;

                    .fa {
                        margin-right: 10px;
                    }
                    
                    span {
                        @media only screen and (max-width: 1170px) {
                            display: none; 
                        }
                    }
                }
                a {
                    line-height: 50px;
                    color: #91BED4;
                }
                & a.nav-list:hover, 
                &.selected a.nav-list {
                    color: white;
                }
                & a.nav-list:before {
                    content: '';
                    position: absolute;
                    left: -3px;
                    top: 50%;
                    transform: translateY(-50%);
                    height: 80%;
                    width: 3px;
                    background-color: white;
                    transition: all 0.5s;
                    opacity: 0;
                }
                & a.nav-list:hover:before, 
                &.selected a.nav-list:before {
                    left: 0px;
                    opacity: 1;
                }
            }
        }
    }
    
    .content-wrapper {
        margin-left: 235px;
        padding: 10px 30px 30px 20px;
        
        @media only screen and (max-width: 1170px) {
            margin-left: 50px;
        }
        
        .page-title {
            margin-bottom: 20px;
            font-size: 1.2em;
            color: $primary-color;
        }
        
        .toolbar {
            height: 45px;
            line-height: 45px;
            background-color: $primary-color;
          
            ul.operations {
                float: left;
                padding-left: 10px;
                
                li {
                    display: inline-block;
                    position: relative;
                    margin-right: 10px;
                }
                
                button {
                    transition: all 0.2s;
                    color: $button-color;
                    background-color: $button-background-color;
                    padding: 5px 15px;
                    border-radius: 5px;
                }
                button:hover {
                    background-color: $button-background-color-hover;
                }
            }
            
            ul.filter {
                float: right;
                padding-right: 10px;
            }
            
            
            li.back {
                margin-right: 15px;
                
                &:after {
                    content: '';
                    position: absolute;
                    right: -10px;
                    top: 50%;
                    transform: translateY(-50%);
                    height: 80%;
                    width: 2px;
                    background-color: white;
                }
            }
                    
            
            li.search input { width: 350px; }
            li.date-picker input {width: 200px; }
            li.search, li.date-picker {
                input {
                    border: none;
                    background-color: white;
                    color: $primary-color;
                    padding: 8px 32px;
                    border-radius: 5px;
                    
                    &::-webkit-input-placeholder { /* WebKit, Blink, Edge */
                        color: $primary-color;
                    }
                    &:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
                       color: $primary-color;
                       opacity:  1;
                    }
                    &::-moz-placeholder { /* Mozilla Firefox 19+ */
                       color: $primary-color;
                       opacity:  1;
                    }
                    &:-ms-input-placeholder { /* Internet Explorer 10-11 */
                       color: $primary-color;
                    }
                    &:focus {
                        background-color: white;
                    }
                }
                .icon {
                    position: relative;
                    color: $primary-color;
                    left: 25px;
                }
            }
        }
        
        .content { 
            position: relative;
            padding-top: 20px;
            padding-left: 20px;
            padding-right: 20px;
        }
        
        form {
            width: 65%;
            margin: 0 auto;
            
            @media only screen and (max-width: 1170px) {
                width: 80%;
            }
            
            .form-group {
                margin: 20px 0;
                position: relative;
                
                label {
                    display: block;
                    width: 30%;
                    text-transform: uppercase;
                    font-size: 0.9em;
                    color: #868585;
                    max-width: initial; // bootstrap
                    margin-bottom: initial; // bootstrap
                    font-weight: initial; // bootstrap
                }
                
                .form-control {
                    border: 1px solid #ccd0d4;
                    font-size: 14px;
                    border-radius: 5px;
                    width: 80%;
                    
                    &.date{
                        display: inline-block;
                    }
                }
                
                textarea {
                    resize: none;
                }
                select, input {
                    height: 40px;
                }
                
                input[required] {
                    background-color: #FBF2DA;
                }
            }
            
            &.submitted {
                input.ng-invalid, .ng-dirty.ng-invalid {
                    border-color: red;
                }
            }
        }
        
        .grid {
            height: 440px;
            position: relative;
            
            table {
                margin: 0 auto;
                width: 100%;
                line-height: 1; // bootstrap
                    
                thead td {
                    text-transform: uppercase;
                }
                td {
                    padding: 10px 15px;
                }
                tbody tr {
                    font-size: 13px;
                }
                tbody tr:hover{
                    cursor: pointer;
                    background-color: rgba(217, 235, 251, 0.44);
                }
                tr {
                    border-bottom: 1px solid #91BED4;
                }
                tbody tr:last-child {
                    border-bottom: none;
                }
            }
            
            ul.grid-pager { 
                width: 200px;
                position: absolute;
                bottom: 0;
                left: 50%;
                transform: translateX(-50%);
                
                li {
                    display: inline-block;
                    margin: 0 5px;
                    button {
                        padding: 5px 15px;
                        border-radius: 5px;
                        background-color: $button-background-color;
                        color: black;
                        
                        &:hover {
                            background-color: $button-background-color-hover;
                        }
                    }
                }
            }
        }
        
        .tabs {
            padding-bottom: 25px;
            font-size: 0; /*hack to remove white space between display inline elements*/

            li {
                display: inline-block;
                font-size: 13px;

                input {
                    display: none;
                }

                label { 
                    padding: 3px 20px;
                    cursor: pointer;
                    border-bottom: 2px solid;
                    color: #ccc;
                    transition: color 0.3s;
                }

                input:checked + label, label:hover {
                    color: #3498db;
                }
            }
        }
    }
}

.login {
    
    .login-form {
        padding: 10px 20px;
        background-color: $primary-color;
        width: 400px;
        height: 240px;
        position:relative;
        top: 50%;
        transform: translateY(-50%);
        margin: 0 auto;
        border-radius: 10px;
        
        .form-group {
            margin-top: 25px;
            
            label {
                display: inline-block;
                width: 15%;
                text-transform: uppercase;
                font-size: 0.9em;
                color: white;
            }

            .form-control {
                border: 1px solid #ccd0d4;
                font-size: 14px;
                height: 30px;
                padding: 20px 15px;
                border-radius: 5px;
                width: 80%;
            }
        }
        
        button {
            transition: all 0.2s;
            float: right;
            font-size: 1.1em;
            padding: 8px 13px;
            background-color: $button-background-color;
            border-radius: 5px;
            color: $button-color;
            margin-top: 33px;
            
            &:hover {
                background-color: $button-background-color-hover;    
            }
        }
        
        .error {
            color: #B33232;
            padding-top: 10px;
            padding-left: 60px;
        }
    }
}

.notification {
    transition: all 0.6s;    
    width: 250px;
    height: 65px;
    padding: 0 10px;
    line-height: 50px;
    text-align: center;
    position: fixed;
    bottom: -65px;
    right: 30px;
    background-color: #E6510A;
    color: #F5E9E9;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    z-index: 2000;
    
    &.active {
        bottom: 0px;
    }
}

/////////////////////
// Loader
/////////////////////
.page-loader { 
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.loader {
    background-color: #A09E9E;
    opacity: 0.5;
    z-index: 300;
    
    & .loader-wrapper{
        height: 100%;
        width:100%;
        position: relative;
    }
}

.spinner {
    margin: 0px auto;
    font-size: 10px;
    position: relative;
    text-indent: -9999em;
    border-top: 1.1em solid rgba(255, 255, 255, 0.8);
    border-right: 1.1em solid rgba(255, 255, 255, 0.8);
    border-bottom: 1.1em solid rgba(255, 255, 255, 0.8);
    border-left: 1.1em solid #171515;
    top: 45%;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: spin 1.1s infinite linear;
    animation: spin 1.1s infinite linear;
}
.spinner,
.spinner:after {
    border-radius: 50%;
    width: 10em;
    height: 10em;
}
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

/////////////////////
// System popups
/////////////////////

.system-popup {
    position: absolute;
    top: 40%;
    left: 45%;
    width: 360px;
    background-color: #DEDEDE;
    border-radius: 5px;
    
    @media only screen and (max-width: 1170px) {
        left: 35%;
    }
    
    header {
        height: 30px;
        line-height: 30px;
        font-size: 14px;
        padding: 0px 20px;
    }
    
    main {
        height: 60px;
        line-height: 20px;
        font-size: 12px;
        padding: 10px 20px;
        font-size: 12px;
        background-color: #ccc;
    }
    
    .operations {
        margin: 0 auto;
        margin: 10px 0px;
        float: right;

        button {
            margin: 0px 5px;
            background-color: #BBBBBB;
            padding: 5px 15px;
            border-radius: 5px;
        }
    }
}


.window {
    z-index: 1000;
    position: fixed;
    left: 30%;
    top: 25px;
    width: 40%;
    background-color: #DEDEDE;
    border-radius: 5px;
    
    &:after {
        content: '';
        display: block;
        position: fixed;
        top:0;
        left:0;
        right:0;
        bottom:0;
        background-color: #A09E9E;
        opacity: 0.7;
        z-index: -1;
    }
    
    @media only screen and (max-width: 1170px) {
        left: 15%;
        width: 70%;
    }
    
    header, footer {
        font-size: 14px;
        padding: 0px 20px;
        background-color: #222F38;
    }
    header {
        height: 40px;
        line-height: 40px;
    }
    footer {
        height: 60px;
        line-height: 30px;
    }
    main {
        height: 450px;
        line-height: 20px;
        font-size: 12px;
        padding: 10px 20px;
        font-size: 12px;
        background-color: #FFFFFF;
    }
    
    .operations {
        margin: 0 auto;
        float: right;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        button {
            margin: 0px 5px;
            background-color: #FFFFFF;
            padding: 3px 15px;
            border-radius: 5px;
        }
    }
}

ul.autocomplete-options {
    border: 1px solid #D0D0D0;
    position: absolute;
    width: 80%;
    z-index: 10;
    background-color:white;
    max-height: 200px;
    overflow-y: auto;
    border-radius: 5px;
    
    li {
       margin: 5px; 
       padding: 2px 6px;
       cursor: pointer;
       border-radius: 2px;
       &:hover, &.active {
            background-color: #D0D0D0;       
       }
    }
}

.fc-icon {
    display: inline-block;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
} 
.fc-icon-calendar:before {
    content: "\f073";
}