<h1 class="page-title">Detail užívateľa</h1>

<div class="toolbar">
    <ul class="operations">
        <li class="back">
            <button type="button" class="app" ng-click="ctrl.backToList()"><i class="fa fa-arrow-left"></i></button>
        </li>  
        <li>
            <button type="button" class="app" ng-click="ctrl.save()"><i class="fa fa-save"></i></button>
        </li>      
        <li>
            <button type="button" class="app" ng-click="ctrl.remove()"><i class="fa fa-trash"></i></button>
        </li>   
    </ul>      
</div>

<div class="content">
    <loader delay="100" class="page-loader"></loader>
    <ul class="tabs">
        <li>
            <input id="detail" type="radio" name="tabs" ng-model="ctrl.currentTab" value="form" />
            <label for="detail">
                <span>Informácie</span>
            </label>
        </li>
        <li>
            <input id="orders" type="radio" name="tabs" ng-model="ctrl.currentTab" value="grid" />
            <label for="orders">
                <span>Objednávky</span>
            </label>
        </li>
    </ul>
    
    <app-form templateUrl="forms/userForm.html" api="ctrl.api" form-object="ctrl.user" ng-show="ctrl.currentTab == 'form'"></app-form>
    
    <div class="grid" ng-show="ctrl.currentTab == 'grid'">
        <table>
            <thead>
                <td style="width: 25%;">Meno</td>
                <td style="width: 25%;">Priezvisko</td>
                <td style="width: 25%;">Mesto</td>
                <td style="width: 25%;">Email</td>
            </thead>
            <tbody>
                <tr > 
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td> 
                </tr>                
            </tbody>
        </table>
        <ul class="pager">
            <li>
                <button type="button"><i class="fa fa-arrow-left"></i></button>
            </li>
            <li>
                <span class="pager-info"><b></b> z <b ng-bind="maxPage"> </b></span>
            </li>
            <li>
                <button type="button"><i class="fa fa-arrow-right"></i></button>
            </li>
        </ul>
    </div>
</div>