<h1 class="page-title">Nový užívateľ</h1>

<div class="toolbar">
    <ul class="operations">
        <li class="back">
            <button type="button" class="app" ng-click="ctrl.backToList()"><i class="fa fa-arrow-left"></i></button>
        </li>  
        <li>
            <button type="button" class="app" ng-click="ctrl.save()"><i class="fa fa-save"></i></button>
        </li>       
    </ul>      
</div>

<div class="content">
    <loader delay="100" class="page-loader"></loader>
    <app-form templateUrl="forms/userForm.html" api="ctrl.api" form-object="ctrl.user"></app-form>
</div>