<h1 class="page-title">Objednávky</h1>

<input type="text" class="app" style="width:0; height:0; opacity:0; padding:0; float: right; position:relative; left: -300px; top: 50px;" uib-datepicker-popup ng-model="ctrl.currentRawDate" is-open="ctrl.datepicker.opened" close-text="Zavrieť" />
<div class="content">
    <div ui-calendar="ctrl.uiConfig.calendar" class="calendar" calendar="ordersCalendar" ng-model="ctrl.datasource"></div> 
    <order-window api="ctrl.api"> </order-window>   
<div>