<h1 class="page-title">Zoznam užívateľov</h1>

<div class="toolbar">
    <ul class="operations">
        <li>
            <button type="submit" class="app" ng-click="ctrl.create()"><i class="fa fa-plus"></i></button>
        </li>
    </ul>

    <ul class="filter">
        <li class="search">
            <span class="icon"><i class="fa fa-search"></i></span>
            <input type="text" class="app" placeholder="Hľadať..." ng-model="ctrl.filter.expression" ng-model-options="{ updateOn: 'default blur', debounce: 500 }" />
        </li>
        <!--
        <li>
            <button type="submit">Dnes</button> 
        </li>
        -->
    </ul>
</div>

<div class="content">
    <app-grid templateUrl="grids/usersGrid.html" filter="ctrl.filter" api="ctrl.api" cache="users" ></app-grid>
    <loader delay="100" class="page-loader"></loader>
<div>