<nav>
    <ul>
        <li navigation-link="/">
            <a class="nav-list" href="#/">
                <i class="fa fa-home"></i>
                <span>Dashboard</span>
            </a>     
        </li>
        <li navigation-link="/orders">
            <a class="nav-list" href="#/orders">
                <i class="fa fa-file-o"></i>
                <span>Objednávky</span>
            </a>     
        </li>
        <li navigation-link="/users">
            <a class="nav-list" href="#/users">
                <i class="fa fa-users"></i>
                <span>Užívateľia</span>
            </a>     
            <a class="nav-create" href="#/users/new" >
                <i class="fa fa-plus"></i>
            </a>         
        </li>
        <li navigation-link="/openinghours">
            <a class="nav-list" href="#/openinghours">
                <i class="fa fa-clock-o"></i>
                <span>Otváracie hodiny</span>
            </a>     
        </li>
        <li navigation-link="/messages">
            <a class="nav-list" href="#/messages">
                <i class="fa fa-envelope-o"></i>
                <span>Zprávy</span>
            </a>        
            <a class="nav-create" href="#/messages/new" >
                <i class="fa fa-plus"></i>
            </a>    
        </li>
        <li navigation-link="/news">
            <a class="nav-list" href="#/news">
                <i class="fa fa-newspaper-o"></i>
                <span>Aktuality</span>
            </a>          
            <a class="nav-create" href="#/news/new" >
                <i class="fa fa-plus"></i>
            </a>  
        </li>
        <li navigation-link="/settings">
            <a class="nav-list" href="#/settings">
                <i class="fa fa-wrench"></i>
                <span>Nastavenia</span>
            </a>     
        </li>
    </ul>
</nav>