<nav>
    <ul>
        <li navigation-link="/">
            <a class="nav-list" href="#/">
                <i class="fa fa-home"></i>
                <span>Dashboard</span>
            </a>     
        </li>
        <li navigation-link="/orders">
            <a class="nav-list" href="#/orders">
                <i class="fa fa-file-o"></i>
                <span>Objednávky</span>
            </a>     
        </li>
        <li navigation-link="/messages">
            <a class="nav-list" href="#/messages">
                <i class="fa fa-envelope-o"></i>
                <span>Zprávy</span>
            </a>        
            <a class="nav-create" href="#/messages/new" >
                <i class="fa fa-plus"></i>
            </a>    
        </li>
    </ul>
</nav>