<div class="grid">
    <table>
        <thead>
            <td style="width: 20%;">Meno</td>
            <td style="width: 20%;">Priezvisko</td>
            <td style="width: 20%;">Prihl. meno</td>
            <td style="width: 20%;">Mesto</td>
            <td style="width: 20%;">Email</td>
        </thead>
        <tbody>
            <tr ng-repeat="user in data" ng-click="goToDetail(user.Id)"> 
                <td ng-bind="::user.FirstName"></td>
                <td ng-bind="::user.LastName"></td>
                <td ng-bind="::user.UserName"></td>
                <td ng-bind="::user.City"></td>
                <td ng-bind="::user.Email"></td> 
            </tr>                
        </tbody>
    </table>
    <ul class="grid-pager">
        <li>
            <button type="button" ng-click="goToPreviousPage()"><i class="fa fa-arrow-left app"></i></button>
        </li>
        <li>
            <span class="pager-info"><b ng-bind="currentPage"></b> z <b ng-bind="maxPage"> </b></span>
        </li>
        <li>
            <button type="button" ng-click="goToNextPage()" ><i class="fa fa-arrow-right app"></i></button>
        </li>
    </ul>
</div>
