
<div ng-show="showWindow" class="window">
    <header>
        {{header}}
    </header>
    <main>
        <form id="form" name="form" novalidate autocomplete="off">
            <autocomplete>
                <label for="user">Užívateľ</label>
                <input class="form-control" id="user" type="text" ng-model="order.UserName" ng-model-options="{ debounce: 500 }" required autocomplete-input="order" />
                <autocomplete-options></autocomplete-options>
            </autocomplete>
            <div class="form-group">
                <label for="isAdmin">Verejná objednávka</label>
                <input id="isAdmin" ng-model="order.Public" type="checkbox" />
            </div>
            <div class="form-group">
                <label for="orderTypeSelect">Typ návštevy: </label>
                <select class="form-control" name="orderTypeSelect" id="orderTypeSelect" ng-model="order.OrderTypeId" ng-options="item.Id as item.Name for item in orderTypes">
                </select>
            </div>
            <div class="form-group">
                <label for="note">Poznámka: </label>
                <textarea class="form-control" name="note" cols="40" rows="5" ng-model="order.Note" ></textarea>
            </div>
        </form>
    </main>
    <footer>
        <div class="operations">
            <button ng-click="save()">Uložiť</button>
            <button ng-click="close()">Zrušiť</button>
        </div>  
    </footer>
</div>

