<form id="form" name="form" novalidate>
    <div class="form-group">
        <label for="username">Prihlasovacie meno</label>
        <input class="form-control" id="username" type="text" ng-model="formObject.UserName" required />
    </div>
    <div class="form-group">
        <label for="firstname">Meno</label>
        <input class="form-control" id="firstname" type="text" ng-model="formObject.FirstName" />
    </div>
    <div class="form-group">
        <label for="lastname">Priezvisko</label>
        <input class="form-control" id="lastname" type="text" ng-model="formObject.LastName" />
    </div>
    <div class="form-group">
        <label for="dateOfBirth">Dátum narodenia</label>
        <input type="text" class="form-control date" uib-datepicker-popup ng-model="formObject.DateOfBirth" is-open="datepicker.opened" close-text="Zavrieť" />
        <button type="button" ng-click="datepicker.opened=true;"><i class="glyphicon glyphicon-calendar"></i></button>
    </div>
    <div class="form-group">
        <label for="email">Email</label>
        <input class="form-control" id="email" type="text" ng-model="formObject.Email" />
    </div>
    <div class="form-group">
        <label for="phone">Telefón</label>
        <input class="form-control" id="phone" type="text" ng-model="formObject.Phone" />
    </div>
    <div class="form-group">
        <label for="address">Adresa</label>
        <input class="form-control" id="address" type="text" ng-model="formObject.Address" />
    </div>
    <div class="form-group">
        <label for="city">Mesto</label>
        <input class="form-control" id="city" type="text" ng-model="formObject.City" />
    </div>
    <div class="form-group">
        <label for="postCode">PSČ</label>
        <input class="form-control" id="postCode" type="text" ng-model="formObject.PostCode" />
    </div>
    <div class="form-group">
        <label for="isAdmin">Administrátor</label>
        <input id="isAdmin" ng-model="formObject.IsAdmin" type="checkbox" />
    </div>
</form>