<!DOCTYPE HTML>

<html ng-app="AppModule">

    <head>
        <title ng-bind="pageTitle"></title>
        <base href="/">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,700' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" type="text/css" href="css/styles.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="components/fullcalendar/dist/fullcalendar.min.css">
    </head>

    <body>
        
        <header app-cloak>
            <!--
            <div class="logo">
                <img src="../images/cd-logo.svg" />
            </div>
             -->
            <ul class="profile-operations app">
                <li>
                    <a href="#0">
                        Profil
                        <i class="fa fa-user"></i>
                    </a>     
                </li>
                <li>
                    <a href="#" ng-click="logout()">
                        Odhlásiť
                        <i class="fa fa-sign-out"></i>
                    </a>     
                </li>
            </ul>
        </header>
        
        <main>
            <app-nav> </app-nav>
            
            <div class="content-wrapper">
                 <div ng-view></div>
            </div>
        </main>
        

        <system-popup></system-popup>
        <notification></notification>
    </body>
    
    <script src="components/jquery/dist/jquery.min.js"></script>
    <script src="components/angular/angular.min.js"></script>
    <script src="components/angular-route/angular-route.min.js"></script>
    <script src="components/ngstorage/ngStorage.min.js"></script>
    <script src="components/moment/min/moment.min.js"></script>
    <script src="components/fullcalendar/dist/fullcalendar.min.js"></script>
    <script src="js/main.js"></script>
</html>