<!DOCTYPE HTML>

<html ng-app="LoginModule">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="css/styles.css">
</head>

<body class="login" ng-controller="LoginController as ctrl">

    <form name="ctrl.login_form" class="login-form" ng-submit="ctrl.login()"  novalidate>
        <div class="form-group">
            <label for="username">Meno</label>
            <input class="form-control" id="username" ng-model="ctrl.username" type="text" placeholder="Meno" required />
        </div>
        <div class="form-group">
            <label for="password">Heslo</label>
            <input class="form-control" id="password" ng-model="ctrl.password" type="password" placeholder="Heslo" required />
        </div>
        <button type="submit"> Prihlásiť </button>
        <div ng-show="ctrl.login_form.submitted" class="error">Nesprávne meno alebo heslo</div>
    </form>
    
    <loader show="ctrl.showLoader" class="page-loader"></loader>
    
    <script src="components/angular/angular.min.js"></script>
    <script src="components/ngstorage/ngStorage.min.js"></script>
    <script src="js/main.js"></script>
</body>

</html>